doctype html
html(lang="ja")
  head
    meta(charset="utf8")
    meta(name="viewport" content="width=device-width, initial-scale=1, minimum-scale=0.5, maximum-scale=1, user-scalable=no")
    meta(property="og:title" content="Cutls")
    meta(property="og:image" content="https://cutls.com/img/thedesk.png")
    meta(property="og:image:width" content="512")
    meta(property="og:image:height" content="512")
    title Cutls

  body
    section.centerView
      .thinking.mini
      h1 Cutls
      p.links
        a(href="#about") About me
        a(href="#loveit") LOVE it
        a(href="#work") Works
      p.links
        a(href="#link") Links
        a(href="#contact") Contact me
      p &copy; Cutls 2015
    a.anchor(name="about") &nbsp;
    section.centerView
      .aboutme.mini
      h2 About me
      p 限界地方の医学生(2022年現在)
      p Web programmer
      p Kansai dialect speaker
    a.anchor(name="loveit") &nbsp;
    section.centerView
      .loveit.mini
      h2 LOVE it
      p TypeScript, React, React Native, Next.js
      p アイドルマスターシンデレラガールズ
      p チンアナゴ
    a.anchor(name="work") &nbsp;
    section.centerView
      .work.mini
      h2 Works
      p 
        a(href="https://thedesk.top" target="_blank") TheDesk
        span , Mastodon client for PC
      p 
        span votedon. (
        a(href="http://www.itmedia.co.jp/news/articles/1804/03/news147.html" target="_blank" rel="nofollow noopener noreferrer") ITmedia News
        span )
      p 分散SNS萬本 
        a(href="https://express.komittee.net/posts/readme-of-distributed-sns-everything-book-vol1/" target="_blank" rel="nofollow noopener noreferrer") vol.1
        span (C96, 技書博), 
        a(href="https://connpass.com/event/165550/" target="_blank" rel="nofollow noopener noreferrer") vol.2
        span (技術書典9)
    a.anchor(name="link") &nbsp;
    section.centerView
      .link.mini
      h2 Links
      p.links
        a(href="https://github.com/cutls" target="_blank" rel="noopener me") GitHub
        a(href="https://keybase.io/cutls" target="_blank" rel="nofollow noopener noreferrer me") Keybase
        a(href="https://blog.cutls.dev" target="_blank" rel="noopener") Blog
      p.links
        a(href="https://cutls.fanbox.cc" target="_blank") Pixiv FANBOX
        a(href="https://www.patreon.com/cutls" target="_blank" rel="noopener") Patreon
      p.links
        a(href="https://status.cutls.dev" target="_blank" rel="noopener") Status page
    a.anchor(name="contact") &nbsp;
    section.centerView
      .contact.mini
      h2 Contact me
      p
        span Mastodon: 
        a(href="https://2m.cutls.com/@Cutls" target="_blank" rel="noopener me") @Cutls@2m.cutls.com
      p Email: p at cutls.com (at: @)
      p 
        span PGP: 
        a(href="https://keybase.io/cutls/pgp_keys.asc?fingerprint=126ac1a8fe1b692b80330f7bdaa6cb88cd1a2c97" target="_blank" rel="nofollow noopener noreferrer") DAA6 CB88 CD1A 2C97