@import 'base.scss';

section {
	height: calc(100vh - 0rem);
	width: calc(100vw - 0rem);

	&.centerView {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
	}
}

.mini {
	width: 75px;
	height: 75px;
	display: inline-block;
	background-size: contain;
	&.thinking {
		background-image: url(../img/thinking.svg);
	}
	&.aboutme {
		background-image: url(../img/1f9be.svg);
	}
	&.loveit {
		background-image: url(../img/2764-fe0f-200d-1f525.svg);
	}
	&.work {
		background-image: url(../img/1f363.svg);
	}
	&.link {
		background-image: url(../img/1f37b.svg);
	}
	&.contact {
		background-image: url(../img/1f5fa.svg);
	}
}

.links {
	a {
		margin-right: 1rem;
	}
}